# Create OCEAN Data NFT
Quickly create OCEAN Data NFTs by querying blockchain data from Dune and Flipside.

**Steps:**
1. Get Data
2. Store Data
3. Create Data NFT

Alternative Option: Build Dune/Flipside queries on platforms and create OCEAN Data NFTs from UI.

1. Get "out of gas" error a lot
2. How to add key/headers in publish for url 
3. Missing pricing schema
4. Confirm can download file

In [1]:
import json
import pandas as pd
import os
from dotenv import load_dotenv
import requests
import subprocess
from flipside import Flipside
from ocean_lib.web3_internal.utils import connect_to_network
from ocean_lib.example_config import get_config_dict
from ocean_lib.ocean.ocean import Ocean
from brownie.network import accounts, chain

# Load variables from .env file
load_dotenv()
DUNE_API_KEY = os.getenv("DUNE_API_KEY")
FLIPSIDE_API_KEY = os.getenv("FLIPSIDE_API_KEY")
GITHUB_KEY = os.getenv("GITHUB_KEY")

## 1. Get Data
### Flipside

* SDK Docs: https://docs.flipsidecrypto.com/flipside-api/get-started

In [2]:
# Query Flipside using their Python SDK
def query_flipside(sql):
    flipside = Flipside(FLIPSIDE_API_KEY, "https://api-v2.flipsidecrypto.xyz")
    results = flipside.query(sql)
    results_df = pd.DataFrame(results.rows, columns=results.columns).drop(columns=["__row_index"])
    return results_df

In [3]:
sql = """
SELECT
  date(block_timestamp) as dt,
  count(distinct tx_hash) as tx_ct
FROM ethereum.core.fact_transactions
WHERE block_timestamp >= GETDATE() - interval'14 days'
GROUP BY 1
order by 1 asc
"""
results_df = query_flipside(sql)
results_df

                          dt    tx_ct
0   2023-08-04T00:00:00.000Z    49782
1   2023-08-05T00:00:00.000Z  1124372
2   2023-08-06T00:00:00.000Z   987506
3   2023-08-07T00:00:00.000Z  1047336
4   2023-08-08T00:00:00.000Z  1098689
5   2023-08-09T00:00:00.000Z  1076595
6   2023-08-10T00:00:00.000Z  1037733
7   2023-08-11T00:00:00.000Z  1050203
8   2023-08-12T00:00:00.000Z   972839
9   2023-08-13T00:00:00.000Z   920802
10  2023-08-14T00:00:00.000Z  1009971
11  2023-08-15T00:00:00.000Z  1056395
12  2023-08-16T00:00:00.000Z  1076026
13  2023-08-17T00:00:00.000Z  1065879
14  2023-08-18T00:00:00.000Z  1015782

### Dune

* API Docs: https://dune.com/docs/api/

In [ ]:
# Query Dune Analytics via API
def query_dune(q):
    url = f"https://api.dune.com/api/v1/query/{q}/results?api_key={DUNE_API_KEY}"
    response = requests.get(url)
    results_json = json.loads(response.text)["result"]["rows"]
    results_df = pd.DataFrame.from_dict(results_json)
    return results_df

In [ ]:
dune_query_id = 2847682
results_df = query_dune(dune_query_id)
results_df

## 2. Store Data
### Add File to GitHub

*Note: This is a quick & easy solution to host the data, but can also add file to IPFS, Arweave, GCP, AWS, etc...*

In [ ]:
# Create File from Query results
results_df.to_csv('query_results.csv', index=False)

In [ ]:
# Store file in GitHub repo
def git_add_commit_push(commit_message):
    try:
        subprocess.run(['git', 'add', '.'])
        subprocess.run(['git', 'commit', '-m', commit_message])
        subprocess.run(['git', 'push'])
        print("Git add, commit, and push successful!")
    except Exception as e:
        print("An error occurred:", e)

# Replace 'Your commit message here' with your desired commit message
commit_message = 'Your commit message here'

git_add_commit_push(commit_message)

## 3. Create Data NFT
### Add Data NFT to the OCEAN Protocol Marketplace

* Marketplace: https://market.oceanprotocol.com/
* SDK Docs: https://docs.oceanprotocol.com/developers/ocean.py/install

In [ ]:
# Connect to Blockchain
connect_to_network("polygon-main")
config = get_config_dict("polygon-main")
ocean = Ocean(config)

In [ ]:
# Connect to Wallet
accounts.clear()
private_key = os.getenv('PRIVATE_KEY')
wallet = accounts.add(private_key)
print('MATIC Balance:', wallet.balance() / 1e18 )

In [ ]:
# https://eth-brownie.readthedocs.io/en/stable/core-gas.html?highlight=priority_fee#dynamic-fee-transactions
priority_fee = chain.priority_fee
base_fee = chain.base_fee
max_fee = (base_fee * 10) + priority_fee

In [ ]:
# Create Data NFT
name = "Data NFT Test 7"

url = "https://raw.githubusercontent.com/PrimoData/ocean_data_nfts/main/query_results.csv"

tx_dict = {
    "from": wallet,
    "priority_fee": priority_fee,
    "max_fee": max_fee,
}

(data_nft, datatoken, ddo) = ocean.assets.create_url_asset(
    name, 
    url, 
    tx_dict
)

print("Data NFT published:")
print(f"  data_nft: symbol={data_nft.symbol()}, address={data_nft.address}")
print(f"  datatoken: symbol={datatoken.symbol()}, address={datatoken.address}")
print(f"  did={ddo.did}")

In [ ]:
# Publish Data NFT for Free
# https://github.com/oceanprotocol/ocean.py/blob/main/READMEs/main-flow.md
datatoken.create_dispenser({"from": wallet})